
package com.company;

public class CarListNode {
    private Car data;
    private CarListNode next;
    private CarListNode prev;

    /**
     *This CarListNode has been initialized to wrap the indicated Car, and prev and next have been set to null.
     * @param initData
     * @throws IllegalArgumentException
     */
    public CarListNode(Car initData) throws IllegalArgumentException{
        if (initData != null){
            prev = null;
            next = null;
            data = initData;
        }
        else if (initData == null)
            throw new IllegalArgumentException();
    }

    /**
     * gets data
     * @return
     */
    public Car getData() {
        return data;
    }

    /**
     * set data
     * @param data
     */
    public void setData(Car data) {
        this.data = data;
    }
    /**
     * get next obj
     * @return
     */
    public CarListNode getNext() {
        return next;
    }

    /**
     * set next obj
     * @param next
     */
    public void setNext(CarListNode next) {
        this.next = next;
    }

    /**
     * get previous obj
     * @return
     */
    public CarListNode getPrev() {
        return prev;
    }

    /**
     * set previous
     * @param prev
     */
    public void setPrev(CarListNode prev) {
        this.prev = prev;
    }
}
